html,

/* Reset default styles */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(26, 26, 26);
}
  
  /* Container */
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

    /* Head */
    .head {
        text-align: center;
      }
    
      .table {
        width: auto;
      }
      
      .table-header {
        text-align: center;
      }